body {
  background-color: #d4edda; /* ירוק בהיר */
  color: #333; /* צבע טקסט כהה */
  font-family: Arial, sans-serif;
  direction: rtl;
  text-align: right;
}

h1 {
  color: #11871d;
}

a {
  display: inline-block;
  margin: 10px;
  padding: 10px 20px;
  text-decoration: none;
  color: white;
  background-color: rgb(133, 238, 156);
  border-radius: 5px;
}

a:hover {
  background-color: rgb(58, 179, 88);
}
